{% extends "./layouts/base.html" %}

{% block title %}HERENCIAS EN DJANGO{% endblock %}

{% block content %}<h1/>Estos son ejemplos de como hacer herencias en django</h1>{% endblock %}

{% comment %}
para que el resto de paginas puedan extender la informacion
donde este especificada
herencia va amostrar todo el contenido de la base  con una
unica linea de codigo.
herencia va a mostrar el contenido de base, luego si queremos
hacer uso de otros bloque solo es hacer referencia a estos como 
se observa que se llamo a titulo y a contenido, se puede colocar 
el codigo necesario en el contenido.
es importante resaltar que se refleja solo en la pantilla de herencia
{% endcomment %}

