<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir producto</title>
</head>
<body>
    <h3>Añadir producto</h3>
    <hr>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Crear producto">

        

        
    </form>
</body>
</html>-->

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario de Producto</h1>
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>
</html>


