
{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Alexis Ibarra - Fotografo Profesional</h1>
    <div class="about">
        <img src="https://picsum.photos/id/237/300/350" alt="">
        <div class="about-content">
            <h3></h3>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quas amet praesentium cumque porro accusantium repellendus non blanditiis ducimus deleniti, eaque similique distinctio atque? Quaerat sunt dolore dolor libero nihil.

            </p>
        </div>
    </div>
{% endblock %}



