
{% load static %}
<Footer>
    <img src="{% static 'imag/photo.png' %}" width= "128"/> 
    <p>
        <ul>
            <li><a href="https://www.flaticon.com/free-icons/camer">Diseñador logotipo: Flaticon</a></li>
            <li><a href="https://www.flaticon.com/free-icons/camer">Diseñador logotipo: Flaticon</a></li>
            <li><a href="https://www.flaticon.com/free-icons/camer">Diseñador logotipo: Flaticon</a></li>

        </ul>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'portafolio' %}">Portafolio</a></li>
            <li><a href="https://instagram.com">instagram</a></li>

        </ul>
        <ul>
            <li><a href="">Diseñador logotipo: Flaticon</a></li>
            <li><a href="">Diseñador logotipo: Flaticon</a></li>
            <li><a href="">Diseñador logotipo: Flaticon</a></li>

        </ul>
        
    <a href="https://www.flaticon.com/free-icons/camera" title="camera icons"></a>
</footer>


